.navbar{
    min-width: 1025px;
    backdrop-filter: blur(500px);
    position :sticky;
    left: 0;
    top: 0;
}
.navbar .btn{
    text-decoration: none;
    color : black;
    background : rgb(231, 224, 224);
    border-radius: 3px;
    border: 1px solid;
    padding: 0 3px;
}
.navbar .btn:hover{
    color: white;
    background : black;
}
.navbar button{
    /* margin-right: 2px; */
}
.navbar button:hover{
    background : black;
}
.body{
    position: relative;
    background: url('../../../images/addstudent.jpg');
    background-size: cover;
    background-position: center;
}
.navbar .logout{
    position: absolute;
    right: 5px;
    border: 1px solid;
    border-radius: 4px;
    padding: 0 3px;
}